<div class="social-share">
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank" class="share-btn twitter">
    <i class="fab fa-twitter"></i> Twitter
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" class="share-btn facebook">
    <i class="fab fa-facebook-f"></i> Facebook
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" class="share-btn linkedin">
    <i class="fab fa-linkedin-in"></i> LinkedIn
  </a>
</div>
